body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button-background {
  background: #5669ff;
  border-radius: 10px;
  text-align: center;
  padding: 10px 30px;
  width: fit-content;
  block-size: fit-content;
  color: white;
  align-self: center;
}

.header-background {
  background: #ffffff;
  box-shadow: 0px 21px 80px rgba(122, 117, 117, 0.05),
    0px 2.62953px 10.0172px rgba(122, 117, 117, 0.025);
  padding: 10px 100px;
  justify-content: space-between;
  display: flex;
}

.header-left {
  display: flex;
  justify-content: space-between;
  width: 50%;
  flex: 0.5;
}

.listNavigation {
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.background {
  min-height: 100vh;
  overflow: hidden;
}

.header-background {
  background: #ffffff;
  box-shadow: 0px 21px 80px rgba(122, 117, 117, 0.05),
    0px 2.62953px 10.0172px rgba(122, 117, 117, 0.025);
  padding: 10px 100px;
  justify-content: space-between;
  display: flex;
}

.header-left {
  display: flex;
  justify-content: space-between;
  width: 50%;
  flex: 0.5;
}

.listNavigation {
  display: flex;
  align-self: center;
  justify-content: space-between;
}
